In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import sqlite3

#### Creating db connection

In [3]:
con = sqlite3.connect('test.db')

#### Adding data to database

In [5]:
df = pd.read_csv("data/all_accelerometer_data_pids_13.csv")
df.to_sql("accelerometer_data", con, if_exists = 'replace')

In [4]:
df.head()

            time     pid       x       y       z
0              0  JB3156  0.0000  0.0000  0.0000
1              0  CC6740  0.0000  0.0000  0.0000
2  1493733882409  SA0297  0.0758  0.0273 -0.0102
3  1493733882455  SA0297 -0.0359  0.0794  0.0037
4  1493733882500  SA0297 -0.2427 -0.0861 -0.0163

In [9]:
df.shape

(14057567, 5)

In [7]:
tac_files = os.listdir("data/clean_tac")

In [8]:
for i in range(len(tac_files)):
    tac_file = "data/clean_tac/" + tac_files[i]
    pid = tac_file[15:-14]
    tac_df = pd.read_csv(tac_file)
    tac_df["pid"] = [pid] * len(tac_df)
    tac_df.to_sql(pid, con, if_exists = 'replace')

In [5]:
df.shape

(14057567, 5)

In [19]:
len(np.unique(df["time"]))

12907011

In [6]:
os.getcwd()

'/Users/zainkhan/school/MIDS/capstone'

In [7]:
tac_files

['DK3500_clean_TAC.csv',
 'JR8022_clean_TAC.csv',
 'SA0297_clean_TAC.csv',
 'BU4707_clean_TAC.csv',
 'HV0618_clean_TAC.csv',
 'SF3079_clean_TAC.csv',
 'MJ8002_clean_TAC.csv',
 'CC6740_clean_TAC.csv',
 'PC6771_clean_TAC.csv',
 'MC7070_clean_TAC.csv',
 'DC6359_clean_TAC.csv',
 'BK7610_clean_TAC.csv',
 'JB3156_clean_TAC.csv']

In [8]:
tac_files[0][:-14]

'DK3500'

In [9]:
unique_pids = np.unique(df["pid"])

In [10]:
len(unique_pids) == len(tac_files)

True

In [12]:
output_df = df
for i in range(len(tac_files)):
    tac_file = "data/clean_tac/" + tac_files[i]
    pid = tac_file[15:-14]
    tac_df = pd.read_csv(tac_file)
    tac_df["pid"] = [pid] * len(tac_df)
    
    
tac_df.head()

    timestamp  TAC_Reading     pid
0  1493722816     0.002387  JB3156
1  1493724639     0.000271  JB3156
2  1493724954    -0.000839  JB3156
3  1493725268    -0.000651  JB3156
4  1493725583     0.000234  JB3156

In [17]:
np.unique(tac_df["timestamp"])

array([1493722816, 1493724639, 1493724954, 1493725268, 1493725583,
       1493725897, 1493726211, 1493726526, 1493726840, 1493727172,
       1493727505, 1493727836, 1493729671, 1493731487, 1493733302,
       1493735134, 1493736962, 1493738778, 1493740607, 1493742450,
       1493744293, 1493746135, 1493747979, 1493749820, 1493751662,
       1493753505, 1493755349, 1493757193, 1493759037, 1493760881,
       1493762725, 1493764568, 1493766412, 1493768256, 1493770085,
       1493771927, 1493773769, 1493775611, 1493777453, 1493779295,
       1493781136, 1493782978, 1493784820, 1493786662, 1493788508,
       1493790336, 1493792165, 1493793993, 1493795822, 1493797651,
       1493799481, 1493801311, 1493803140, 1493804971, 1493806801])

In [12]:
df.columns

Index(['time', 'pid', 'x', 'y', 'z'], dtype='object')

In [13]:
tac_df.columns

Index(['timestamp', 'TAC_Reading', 'pid'], dtype='object')

In [13]:
test_output = output_df.merge( tac_df, how = "left", left_on = ["pid", "time"], right_on = ["pid", "timestamp"])
#output_df.merge( tac_df, how = "left", on = "pid", left_index = True)

In [16]:
test_output1 = output_df.merge( tac_df, how = "inner", left_on = ["pid", "time"], right_on = ["pid", "timestamp"])
test_output1

Empty DataFrame
Columns: [time, pid, x, y, z, timestamp, TAC_Reading]
Index: []

In [23]:
test_output

,time,pid,x,y,z,timestamp,TAC_Reading
0,0,JB3156,0.000000,0.000000,0.000000,NaN,NaN
1,0,CC6740,0.000000,0.000000,0.000000,NaN,NaN
2,1493733882409,SA0297,0.075800,0.027300,-0.010200,NaN,NaN
3,1493733882455,SA0297,-0.035900,0.079400,0.003700,NaN,NaN
4,1493733882500,SA0297,-0.242700,-0.086100,-0.016300,NaN,NaN
...,...,...,...,...,...,...,...
14057562,1493829248196,CC6740,-0.133956,0.124726,-0.010736,NaN,NaN
14057563,1493829248220,CC6740,-0.100764,0.180872,0.046449,NaN,NaN
14057564,1493829248245,CC6740,-0.131853,0.195934,0.181088,NaN,NaN
14057565,1493829248270,CC6740,-0.149704,0.194482,0.202393,NaN,NaN
14057566,1493829248294,CC6740,-0.107288,0.153548,0.168595,NaN,NaN

In [14]:
test_output[test_output["pid"] == "JB3156"]

,time,pid,x,y,z,timestamp,TAC_Reading
0,0,JB3156,0.000000,0.000000,0.000000,NaN,NaN
541149,1493739732016,JB3156,-2.556815,8.312009,14.090558,NaN,NaN
541154,1493739732035,JB3156,-2.499538,8.636412,13.906186,NaN,NaN
541159,1493739732055,JB3156,-2.471458,8.687223,13.677473,NaN,NaN
541163,1493739732075,JB3156,-2.244561,8.832140,13.288850,NaN,NaN
...,...,...,...,...,...,...,...
7792214,1493784075428,JB3156,-0.224899,-0.009760,-0.068496,NaN,NaN
7792219,1493784075448,JB3156,-0.148706,-0.015424,0.107965,NaN,NaN
7792224,1493784075468,JB3156,-0.077544,-0.057442,-0.079593,NaN,NaN
7792227,1493784075488,JB3156,-0.036513,-0.059515,-0.106539,NaN,NaN
7792231,1493784075509,JB3156,-0.301496,-0.128987,-0.262350,NaN,NaN

In [15]:
output_df.merge( tac_df, how = "left", on = "pid", left_index = True)

,time,pid,x,y,z,timestamp,TAC_Reading
0.0,0,JB3156,0.000000,0.000000,0.000000,1.493723e+09,0.002387
1.0,0,JB3156,0.000000,0.000000,0.000000,1.493725e+09,0.000271
2.0,0,JB3156,0.000000,0.000000,0.000000,1.493725e+09,-0.000839
3.0,0,JB3156,0.000000,0.000000,0.000000,1.493725e+09,-0.000651
4.0,0,JB3156,0.000000,0.000000,0.000000,1.493726e+09,0.000234
...,...,...,...,...,...,...,...
NaN,1493829248196,CC6740,-0.133956,0.124726,-0.010736,NaN,NaN
NaN,1493829248220,CC6740,-0.100764,0.180872,0.046449,NaN,NaN
NaN,1493829248245,CC6740,-0.131853,0.195934,0.181088,NaN,NaN
NaN,1493829248270,CC6740,-0.149704,0.194482,0.202393,NaN,NaN
NaN,1493829248294,CC6740,-0.107288,0.153548,0.168595,NaN,NaN

In [53]:
output_df.shape

(14057567, 5)

13

13